<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>{% block title %}My Django App{% endblock %}</title>
    <!-- Подключение Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Дополнительные стили -->
    <style>
        body {
            background-color: black;  /* Black background for the entire page */
            color: purple;  /* Purple text color */
        }
        .navbar {
            background-color: black;  /* Black background for the navigation bar */
        }
        .navbar-brand {
            color: purple;  /* Purple text color for the brand */
        }
        {% block extra_styles %}{% endblock %}
    </style>
</head>
<body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">Coin Clicker</a>
    </nav>

    <div class="container mt-5">
        {% block content %}{% endblock %}
    </div>

    <!-- Connection of Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Additional scripts -->
    {% block extra_scripts %}{% endblock %}
</body>
</html>
